/* styles.css */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 64px;
    color: coral;
    background-color: aquamarine;
}

img {
    width: 500px;
    height: 100%;
}

li,
h3 {
    color: darkgoldenrod;
}

li {
    font-family: 'Courier New', Courier, sans-serif;
    font-weight: bolder;
}

h3 {
    font-size: 36px;
    font-style: italic;
}

p {
    text-align: center;
    font-weight: 800;
    background-color: mediumseagreen;
}

a {
    font-size: 24px;
}